.wrapper{
    color:black;
    font-size: 62px;
    width:100%;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 2px;
    height: 20rem;
    
}
.t1{
    position: relative;
    top:30%;
    /* left: 0%; */
    text-align: center;
    color: aliceblue;
}