li{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
    color:white;
}
.navbar{
    background-color: black;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 96px;
    left: 0px;
    top: 0px;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.title{
    
position: absolute;
width: 200px;
height: 27px;
left: 77px;
top: 32px;

font-family: 'Caveat', cursive;
font-style: normal;
font-weight: 55;
font-size: 55px;
line-height: 24px;
text-align: center;
text-transform:capitalize;

/* White */

color: #FFFFFF;
}
.elementswrapper{
    
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

position: absolute;
width: 377px;
height: 19px;
left: 450px;
top: 36px;
}
.navelements{

height: 19px;

font-family:"raleway",sans-serif;
font-style:normal;
font-weight: 0;
font-size: 24px;
line-height: 19px;
text-transform: capitalize;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.rightwrapper{
    position: absolute;
    width: 554px;
    height: 96px;
    left: 958px;
    top: 0px;
}





.searchbox{
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 1700px;
    margin: 0px;
    padding: 0px;
   
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-family: 'Lato' !important;
  }
  .inputsearch{
    height: 50px;
    width: 25px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 50px;
    transition: all .5s ease-in-out;
    background-color: #201f1f;
    padding-right: 40px;
    color:#fff;
  }
  .inputsearch::placeholder{
    display: none;
   
    color: #201f1f;
  
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .inputsearch.inputsearch::ms-input-placeholder:focus{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
    
  }
  
  .btnsearch{
    width: 120px;
    height: 50px;
    border-style: none;
    font-size: 55px;
    padding-left: 10px;
    margin-left: 10px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;

    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
    
  }
  .btnsearch:focus ~ .inputsearch{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    padding-left: 10px;
    margin-right: 110px;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .inputsearch:focus{
    width: 300px;
    border-radius: 0px;
    padding: 10px;
    background-color: transparent;
    color: #0ce2e2;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); 
    
    
  }

  