li{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
    color:white;
}
.navbar{
    background-color: black;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 96px;
    left: 0px;
    top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.title{
    
position: fixed;
width: 200px;
height: 57px;
left: 77px;
top: 22px;

font-family: 'Caveat', cursive;
font-style: normal;
font-weight: 55;
font-size: 55px;
line-height: 44px;
text-align: center;
text-transform:capitalize;

/* White */

background-image: linear-gradient(to right, hsl(278, 89%, 45%), hsl(191, 94%, 30%), hsl(302, 91%, 47%), hsl(185, 96%, 40%));
-webkit-background-clip: text; 
background-clip: text; 
color: transparent;

background-size: 300%;
background-position: -100%;  

animation: animatedText 4s infinite alternate-reverse;
}
@keyframes animatedText{
  to{
    background-position: 100%; 
  }
}

.text{

  
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
  
  /* background-size: 300%;
  background-position: -100%;   */
  
  animation: animatedText 5s infinite alternate-reverse;
}




.elementswrapper{
  position: fixed;
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;
width: 377px;
height: 19px;
left: 450px;
top: 36px;
}
.navelements{

height: 19px;

font-family:"raleway",sans-serif;
font-style:normal;
font-weight: 0;
font-size: 24px;
line-height: 19px;
text-transform: capitalize;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.rightwrapper{
    /* position: fixed; */
    width: 554px;
    height: 96px;
    left: 958px;
    top: 0px;
}





.searchbox{
  position: absolute;
    width: 100%;
    height:100px;
    top: 26px;
    left: 50%;
    margin: 0px;
    margin-left: 10px;
    gap: 20px;

    justify-content: center;
    align-items: center;
   
    font-family: "Raleway", sans-serif;
  }
  .inputsearch{
    
    width: 10%;
    height: 35px;
    margin-left: 2px;
    padding-top: 0px;
    background-color: transparent;
    color:#FFFFFF;
    border-color: aliceblue;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;

    
  }
  .inputsearch::placeholder{
    /* color: grey; */
    background-image: linear-gradient(to right, #00F260, #f79d00, #0575E6, #64f38c);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    
    background-size: 300%;
    background-position: -100%; 
    animation: animatedText 5s infinite alternate-reverse;
    text-align: center;
  }

  
  .btnsearch{
    position:fixed;
    margin-left: 57.4%;
    padding-top:17px;
    top: 0px;
    width: 100px;
    font-size: 3rem;
    background-color: transparent;
    color:white;
    border-color: transparent;
   
  }

  @import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: #5e69de;
  --white: #fff;
--google-blue: #4285f4;
--button-active-blue: #1669F2;

}
.loginicon{
  background-color: transparent;
  color:white;
  border-color: transparent;
  font-size: 40px;
  
   top: 17px;
  margin: auto;
  left: 95%;
  position: fixed;
  

}

.avatar{
  background-color: transparent;
  color:white;
  border-color: transparent;
  font-size: 90px;
  /* margin-top: -900px; */
   top: 17px;
  margin: auto;
  left: 95%;
  position: fixed;
  border-radius: 24px;
  width: 50px;

}
  


