li{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
    color:white;
}
.navbar{
    background-color: black;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 96px;
    left: 0px;
    top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.title{
    
position: absolute;
width: 200px;
height: 27px;
left: 77px;
top: 32px;

font-family: 'Caveat', cursive;
font-style: normal;
font-weight: 55;
font-size: 55px;
line-height: 24px;
text-align: center;
text-transform:capitalize;

/* White */

color: #FFFFFF;
}
.elementswrapper{
    
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

position: absolute;
width: 377px;
height: 19px;
left: 450px;
top: 36px;
}
.navelements{

height: 19px;

font-family:"raleway",sans-serif;
font-style:normal;
font-weight: 0;
font-size: 24px;
line-height: 19px;
text-transform: capitalize;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.rightwrapper{
    position: absolute;
    width: 554px;
    height: 96px;
    left: 958px;
    top: 0px;
}





.searchbox{
    width: 100%;
    height: 100%;
    position: relative;
    left: 10%;
    margin: 0px;
    padding: 0px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-family: "Raleway", sans-serif;
  }
  .inputsearch{
    
    width: 10%;
    height: 35px;
    margin-left: 2px;
    margin-top: -10px;
    background-color: transparent;
    color:#FFFFFF;
    border-color: aliceblue;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;

    
  }
  .inputsearch::placeholder{
    color: grey;
    text-align: center;
  }

  
  .btnsearch{
    margin-left: -2%;
    margin-top: 0px;
    width: 100px;
    font-size: 3rem;
    background-color: transparent;
    color:white;
    border-color: transparent;
   
  }

  @import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: #5e69de;
  --white: #fff;
--google-blue: #4285f4;
--button-active-blue: #1669F2;

}
.loginicon{
  background-color: transparent;
  color:white;
  border-color: transparent;
  font-size: 40px;
  margin-top: -900px;
   top: 0px;
  margin: auto;
  left: 85%;
  position: absolute;
  

}


  